@model WebApp_Proje.Models.Kullanici

@{
    ViewData["Baslik"] = "Index";
    Layout = "~/Views/Shared/AdminTema/sablon.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E-TİCARET - KAYIT SAYFASI</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminTema/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminTema/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminTema/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a asp-controller="Giris" asp-action="Index"></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">YENİ KAYIT</p>
                <form asp-action="Index" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="input-group mb-3">
                        <input asp-for="Eposta" class="form-control" placeholder="EPOSTA">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Eposta" class="text-danger"></span>


                    <div class="input-group mb-3">
                        <input asp-for="Sifre" class="form-control" placeholder="ŞİFRE">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Sifre" class="text-danger"></span>


                    <div class="input-group mb-3">


                        <input asp-for="SifreTekrari" class="form-control" placeholder="ŞİFRE TEKRARI">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="SifreTekrari" class="text-danger"></span>


                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    OKUDUM,ANLADIM,KABUL EDİYORUM <a href="#">KOŞULLAR</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">KAYIT</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>



                <a asp-controller="Giris" asp-action="Index" class="text-center">ZATEN ÜYEYİM</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/AdminTema/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminTema/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminTema/dist/js/adminlte.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
