
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> userManager
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Bootstrap/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Bootstrap/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Bootstrap/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Bootstrap/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    





    <header class="site-navbar site-navbar-target bg-white" role="banner" style="position:fixed; top:0">

        <div class="container">
            <div class="row align-items-center position-relative">

                <div class="col-lg-4">
                    <nav class="site-navigation text-right ml-auto " role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li class="active"><a href="~/Home/Index" class="nav-link">Ana Sayfa</a></li>
                            <li><a href="~/Cicek/Urunler" class="nav-link">Ürünler</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                <li><a href="~/Cicek/Index" class="nav-link">Yönetim</a></li>
}
        }


                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="site-logo">
                        <a href="#">Site Adı</a>
                    </div>


                    <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3 text-black"></span></a></div>
                </div>
                <div class="col-lg">
                    <nav class="site-navigation text-left mr-auto " role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">



                            @if (SignInManager.IsSignedIn(User))
                            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                </li>
                                <li class="nav-item">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                </li> }
                                            else
                                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
                                                </li>
}

                        </ul>

                    </nav>
                </div>


            </div>
        </div>

    </header>
</head>
<body>
    <div class="container col-md-12 pt-5">
        @RenderBody()
    </div>




    <script src="~/Bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/Bootstrap/js/popper.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Bootstrap/js/jquery.sticky.js"></script>
    <script src="~/Bootstrap/js/main.js"></script>
    @RenderSection("Scripts", required: false)



    


    
    

</body>
</html>