<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Baslik"]</title>

    <partial name="AdminTema/styles" />

</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <partial name="AdminTema/header"/>
        
        <!-- Main Sidebar Container -->
        <partial name="AdminTema/sidemenu"/>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <partial name="AdminTema/footer"/>

        
    </div>
    <!-- ./wrapper -->


    <partial name="AdminTema/scripts" />
</body>
</html>
